- if current_user
  %h2.welcome= "Aqui está um bolo de morango pra você, #{current_user.name}"

  = link_to "Obrigado(a) pelo bolo, mas eu quero sair", logout_path, method: :delete, id: "logout-link"

  = image_tag "bolo-de-morango.jpg"

  %h2 Posts

  - if @posts.any?
    %table
      %thead
        %tr
          %th Título
          %th Conteúdo
          %th Ações
      %tbody 
        - @posts.each do |post|
          %tr
            %td= post.title
            %td= link_to(post.content, post)
            %td 
              = link_to "Editar", edit_post_path(post) 
              = link_to "Remover", post, :confirm => "Tem certeza?", :method => :delete
  - else
    %p Não há posts publicados