%h2 Novo Post

= form_for @post do |f|
  = f.label :title, 'Título'
  = f.text_field :title
  = f.label :content, 'Conteúdo'
  = f.text_field :content
  = f.submit 'Enviar'

  
= link_to "Voltar", posts_path 